<!DOCTYPE html>
<html lang="en">
<%- include('./head.ejs') %>
<title>Display</title>
<body onload="onHeaderLoad()">
<%- include('./header.ejs') %>
<%- include('./login-block.ejs') %>

<%- include('./portfolio.ejs') %>
<%- include('./pre-footer.ejs') %>
<%- include('./footer.ejs') %>

</body>
</html>