<!DOCTYPE html>
<html lang="en">
<%- include('./head.ejs') %>
<title>Display. Sign up</title>


<body>
<%- include('./header.ejs') %>
<%- include('./login-block.ejs',{title:'Sign up to create your own project or Log in'}) %>
<div class="contact block__full-width">

    <div class="contact__content block__full-width">
        <div class="contact__content__form">
            <div class="contact__content__form-title uppercase">Sign up</div>
            <div class="contact__content__form-name">
                <input type="text" class="contact__content__form__input-name" id="loginPageInput" placeholder="Name" onblur="checkName(event)">
                <div class="contact__err__name" id="contact__err__name">Only latin letters allow</div>
            </div>
            <div class="contact__content__form-subject">
                <input type="password" class="contact__content__form__input-subject" id="passPageInput" placeholder="Password"  onblur="checkPassword(event)">
                <div class="contact__err__subject" id="contact__err__password">Only latin letters, numbers and . _ - allow. Length more 6 characters</div>
            </div>
            <div class="contact__content__form-email">
                <input type="text" class="contact__content__form__input-email" id="emailInput" placeholder="Email Address"  onblur="checkEmail(event)">
                <div class="contact__err__email" id="contact__err__email">Please enter valid email address</div>
            </div>

            <div class="contact__content__btn-wrapper">
                <button class="contact__content__form__btn-submit uppercase white-text btn_mobile_view" onclick="signUp()">Sign up</button>
                <div class="signup__err__submit" id="signup__err__submit">Please enter login, password and email</div>
            </div>

        </div>

    </div>
</div>

<%- include('./pre-footer.ejs') %>
<%- include('./footer.ejs') %>
</body>
</html>