<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<link rel="stylesheet" href="./views/login-page.css">-->
<!--&lt;!&ndash;<script src="./views/login-page.js"></script>&ndash;&gt;-->
<!--<title>Display. Login</title>-->
<!--</head>-->

<!DOCTYPE html>
<html lang="en">
<%- include('./head.ejs') %>
<title>Display. Sign up</title>


<body>
<%- include('./header.ejs') %>
<%- include('./login-block.ejs',{title:'Sign up to create your own project or Log in'}) %>
<div class="contact block__full-width">
    <!--<div class="contact__title-wrapper block__full-width">-->
        <!--<div class="contact__title__text-wrapper block-std">-->
            <!--<h1 class="contact__title__text uppercase white-text">Sign up to create your own project or Log in</h1>-->
        <!--</div>-->
    <!--</div>-->

    <div class="contact__content block__full-width">
        <div class="contact__content__form">
            <div class="contact__content__form-title uppercase">Sign up</div>
            <div class="contact__content__form-name">
                <input type="text" class="contact__content__form__input-name" id="loginInput" placeholder="Name" onblur="checkName(event)">
                <div class="contact__err__name" id="contact__err__name">Only latin letters allow</div>
            </div>
            <div class="contact__content__form-subject">
                <input type="password" class="contact__content__form__input-subject" id="passInput" placeholder="Password"  onblur="checkPassword(event)">
                <div class="contact__err__subject" id="contact__err__password">Only latin letters, numbers and . _ - allow. Length more 6 characters</div>
            </div>
            <div class="contact__content__form-email">
                <input type="text" class="contact__content__form__input-email" id="emailInput" placeholder="Email Address"  onblur="checkEmail(event)">
                <div class="contact__err__email" id="contact__err__email">Please enter valid email address</div>
            </div>

            <!--<div class="contact__content__form-msg">-->
                <!--<textarea type="text" class="contact__content__form__input-msg" id="contact__content__form__input-msg"  onblur="checkMsg(event)"></textarea>-->
                <!--<div class="contact__err__msg" id="contact__err__msg">Message should be more then 20 characters</div>-->
            <!--</div>-->
            <div class="contact__content__btn-wrapper">
                <button class="contact__content__form__btn-submit uppercase white-text btn_mobile_view" onclick="signUp()">Sign up</button>
                <!--<button class="contact__content__form__btn-submit uppercase white-text btn_mobile_view" onclick="login()">Log in</button>-->
                <div class="signup__err__submit" id="signup__err__submit">Please enter login, password and email</div>
            </div>

        </div>

    </div>
</div>


<!--<div class="container">-->
<!--<div class="panel panel-primary">-->
<!--<div class="panel-heading">Login form</div>-->
<!--<div class="panel-body">-->
<!--<div class="form-group">-->
<!--<div class="input-group">-->
<!--<span class="input-group-addon">Username</span>-->
<!--<input type="text" class="form-control" id="loginInput">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="input-group">-->
<!--<span class="input-group-addon">Password</span>-->
<!--<input type="password" class="form-control" id="passInput">-->
<!--</div>-->
<!--</div>-->
<!--<div class="alert alert-danger alertMsgUp" role="alert" id="alert-msg"></div>-->
<!--<div class="alert alert-info alertMsgUp" role="alert" id="info-msg"></div>-->

<!--<div class="form-group">-->
<!--<a class="btn btn-success" onclick="signUp()">Sign up</a>-->
<!--<a class="btn btn-success" onclick="login()">Log in</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<%- include('./pre-footer.ejs') %>
<%- include('./footer.ejs') %>
</body>
</html>